h3{
display: flex;
justify-content: center;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:whitesmoke;
}
body{
  margin: 4px;
  background-color: cadetblue;
}
#ani{
  display: inline-flex;
  width:10%;
  margin: 10px;
  border-radius: 10px;
}
#selectTara{
    display: inline-flex;
    width:10%;
    margin: 10px;
    border-radius: 10px;
}
#btnDeseneazaTabel,#btnBubbleChart,#btnChart{
  border-radius: 10px;
}
#dataTable{
  width:50%;
  
}