body{
 margin: 5px;
 background-color: seashell;
 }
#ani{
  display: inline-block; 
  width:10%;
  margin: 3px;
  border-radius: 10px;
  padding: 5px 2px;
 
}
#selectTara{
   display: inline-block; 
    width:10%;
    margin: 3px;
    border-radius: 10px;
}
#btnDeseneazaTabel,#btnBubbleChart,#btnChart{
  border-radius: 10px;
  background-color: cadetblue;
  color:white;
  margin: 3px;
}
#navBar{
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  margin:10px; 
  width:100%; 
  height: 40px;
}
#dataTable{
  width:40%;
  border-radius: 20px;
}