body{
 margin: 3px;
 background-color: LavenderBlush;
 }
#ani{
  width:10%;
  margin: 10px;
  border-radius: 10px;
}
#selectTara{
    position: relative;
    width:10%;
    float: right;
    left: 50%;
    margin: 10px;
    border-radius: 10px;
}
#btnDeseneazaTabel,#btnBubbleChart,#btnChart{
  border-radius: 10px;
  background-color: cadetblue;
  margin: 3px;
}
#btnChart{
  position: relative;
  left: 50%;
  
}
#dataTable{
  width:50%;
  
}