body{
 margin: 3px;
 background-color: seashell;
 width: 100%;
 height: 100%;
 }
 /*Stilizare select pt ani si pt tara*/
#ani,#selectTara{
  display: inline-block; 
  width:10%;
  margin: 3px;
  border-radius: 10px;
  padding: 5px 2px;
 }
/*reguli comune aplicate butoanelor*/
#btnDeseneazaTabel,#btnBubbleChart,#btnChart{
  border-radius: 10px;
  background-color: cadetblue;
  color:white;
  margin: 3px;
}
/*stilizare navbar - elemente centrate vertical*/
#navBar{
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  margin:10px; 
  width:100%; 
  height: 40px;
}
#dataTable{
  height: 50%;
  position: relative;
  margin:20px; 
}

#chart_div{
  position: relative;
  float:right;
  width:100vh;
  height: 500px;
  margin-left: 0px;
  padding: 0px;
}
h6{
  margin:0px;
}
/* pozitionare in pagina barchart si titlu */ 
#sectiuneBarchart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  float:right;
  width:55%;
  height: 80vh;
  margin:2px;
  padding: 2px;
}
#canvas_chart{
  position: relative;
  float: left;
 }
 /* pozitionare bubble chart si titlul in partea stanga */
#sectiuneBubbleChart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  float: left;
}
 /* suprascriere padding pt stilul tabelului de la bootstrap*/
td,th{
padding: 3px !important;
}
